.vs/QLNS_Nhom1/v16/.suo
QLNS_Nhom1/bin/Debug/QLNS_Nhom1.exe
QLNS_Nhom1/bin/Debug/QLNS_Nhom1.pdb
QLNS_Nhom1/obj/Debug/QLNS_Nhom1.csproj.CoreCompileInputs.cache
QLNS_Nhom1/obj/Debug/QLNS_Nhom1.csproj.FileListAbsolute.txt
QLNS_Nhom1/obj/Debug/QLNS_Nhom1.csproj.GenerateResource.cache
QLNS_Nhom1/obj/Debug/QLNS_Nhom1.csprojAssemblyReference.cache
QLNS_Nhom1/obj/Debug/QLNS_Nhom1.exe
QLNS_Nhom1/obj/Debug/QLNS_Nhom1.pdb
